body {
    margin: 0px 0px 0px 0px;
}

header {
    background-color: #1F2937;
    color: #F9FAF8;
    display: flex;
}

header ul {
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    align-content: center;
}

header a {
    text-decoration: none;
    color: #E5E7EB
}

.logo {
    margin-right: auto;
    margin-left: 48px;
    font-size: 24px;
    font-weight: bold;
}

.header-links {
    margin-right: 48px;
    gap: 16px;

}